<template>
  <aside class="BusinessCase">
    <PSkeleton v-if="!businessCase.id" class="BusinessCase__Skeleton" />
    <PSkeleton v-if="!businessCase.id" class="BusinessCase__Skeleton" />

    <template v-else>
      <router-link
        class="BusinessCase__DisplayName"
        :to="{ ...ROUTES.BUSINESS_CASE, params: { uuid: businessCase.id } }"
      >
        <span class="BusinessCase__Name">
          {{ businessCase.name || t('resource.untitled') }}
        </span>
        <span v-if="businessCase.code" class="BusinessCase__Code">
          {{ businessCase.code }}
        </span>
      </router-link>

      <p>
        {{ t('resource.business_case.dueDate') }}&nbsp;:&nbsp;
        {{ moment(businessCase.dueDate).format('LL') }}
      </p>
    </template>
  </aside>
</template>
<script lang="ts" setup>
import { ref, watchEffect } from 'vue'
import { BusinessCase, businessCaseClient, Task } from '@/api'
import moment from 'moment-timezone'
import { ROUTES } from '@/plugins'
import { useI18n } from 'vue-i18n'

const { t } = useI18n()
const props = defineProps<{
  uuid?: string
}>()
const businessCase = ref<Partial<BusinessCase>>({})
const tasks = ref<Task[]>([])

watchEffect(async () => {
  if (props.uuid)
    businessCase.value = await businessCaseClient.getItem(props.uuid)
})
</script>
<style lang="scss" scoped>
@use 'src/style/variables' as v;
@use 'src/style/mixins' as m;

.BusinessCase {
  @include m.mobile {
    display: none;
  }

  grid-area: r-sideBar;
  width: 200px;
  padding: v.$spacing;
  border-left: solid 1px var(--surface-d);
  background: var(--surface-100);

  &__DisplayName {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
  }

  &__Code {
    color: var(--secondary-color);
    font-style: italic;

    &::before {
      content: '#';
    }
  }

  &__Skeleton {
    margin-bottom: v.$spacing;
  }

  &--mini {
    width: 50px;
  }
}
</style>
