<template>
  <h2 class="ControlPoints__Title">{{ t('page.task.controlPoints') }}</h2>
  <ul class="ControlPoints">
    <li
      v-for="control in controls"
      :key="control.id"
      class="ControlPoints__Item"
    >
      <span class="ControlPoints__ItemDescription">{{
        control.description
      }}</span>
      <Validations
        :control-point="control.id"
        class="ControlPoints__ItemValidations"
      />
      <PButton
        :title="t('action.delete')"
        icon="pi pi-times"
        class="ControlPoints__ItemDelete p-button-rounded p-button-text"
        @click="deleteControlPoint(control.id)"
      />
    </li>
  </ul>

  <ConfirmDeleteDialog
    v-model:visible="displayConfirmDelete"
    :uuid="toBeDeleted"
    :resource-key="'controlPoint'"
    :resource-name="t('resource.controlPoint._name')"
    @deleted:resource="onControlPointDelete"
  />

  <PButton
    v-show="!createMode"
    :label="t('action.add')"
    icon="pi pi-plus"
    @click="createMode = true"
  />

  <!-- Form to create a new control point in place -->
  <form
    v-show="createMode"
    class="ControlPointForm"
    @submit.prevent="addControlPoint"
  >
    <label>
      <span class="ControlPointForm__Label">
        {{ t('resource.controlPoint.description') }}
      </span>
      <PInputText
        v-model="controlPoint.description"
        type="text"
        :placeholder="t('resource.controlPoint.description')"
        :class="[
          'ControlPointForm__TitleInput',
          errors.description ? 'p-invalid' : '',
        ]"
      />
    </label>
    <ErrorWrapper :errors="errors.description" />

    <!-- Cancel button -->
    <PButton
      class="ControlPointForm__Button p-button-text"
      @click="cancelCreate"
    >
      {{ t('action.cancel') }}
    </PButton>

    <!-- Submit button -->
    <PButton
      class="ControlPointForm__Button p-button-primary"
      type="submit"
      :disabled="!controlPoint.description"
    >
      {{ t('action.create') }}
    </PButton>
  </form>
</template>

<script lang="ts" setup>
import { Task } from '@/api'
import { useControlPoint } from '@/pages/tasks/useControlPoint'
import { onMounted, ref, toRefs } from 'vue'
import { useI18n } from 'vue-i18n'
import ConfirmDeleteDialog from '@/components/resources/ConfirmDeleteDialog.vue'
import { ControlPoint } from '@/api/resources/controlPoint'
import Validations from '@/pages/tasks/partial/Validations.vue'

const { t } = useI18n()
const props = defineProps<{
  taskId: Task['id']
}>()
const { taskId } = toRefs(props)
const {
  controls,
  loadControlPoints,
  createMode,
  addControlPoint,
  cancelCreate,
  controlPoint,
  toBeDeleted,
  displayConfirmDelete,
  deleteControlPoint,
  onControlPointDelete,
  errors,
} = useControlPoint(taskId)

onMounted(loadControlPoints)
</script>

<style lang="scss" scoped>
@use 'src/style/variables' as v;
@use 'src/style/mixins' as m;

.ControlPointForm {
  padding: v.$spacing-2;

  &__Label {
    display: block;
    margin: v.$spacing-2 0;
    font-weight: 500;
  }

  &__TitleInput {
    width: 100%;
  }
}

.ControlPoints {
  padding: 0;

  &__Item {
    @include m.mobile {
      grid-template-areas:
        'description'
        'validations';
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
    }

    display: grid;
    grid-template-areas: 'description validations delete';
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    &Description {
      display: flex;
      grid-area: description;
      align-items: center;
    }

    &Delete {
      grid-area: delete;
    }

    &Validations {
      grid-area: validations;
    }
  }
}
</style>
