<template>
  <!-- Loading -->
  <PSkeleton
    v-if="props.loading"
    height="6rem"
    :class="['Description', 'Description--loading', props.class]"
  />

  <div v-if="!loading">
    <PEditor
      v-if="!edit"
      :model-value="value"
      :class="['Description', 'Description--read', props.class]"
      readonly
    >
      <template #toolbar><span></span></template>
    </PEditor>

    <PEditor
      v-if="props.edit"
      v-model="value"
      :class="['Description', 'Description--edit', props.class]"
      editor-style="min-height: 150px; font-family: inherit; font-size: 1rem;"
    >
      <template #toolbar>
        <span class="ql-formats">
          <button class="ql-bold" type="button"></button>
          <button class="ql-italic" type="button"></button>
          <button class="ql-underline" type="button"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-list" type="button" value="ordered"></button>
          <button class="ql-list" type="button" value="bullet"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-link" type="button"></button>
          <button class="ql-code-block" type="button"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-clean" type="button"></button>
        </span>
      </template>
    </PEditor>

    <!-- Errors -->
    <ErrorWrapper v-if="props.edit" :errors="errors" />
  </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue'
import { FieldErrors } from '@/components/form/validation'

const props = withDefaults(
  defineProps<{
    class?: string
    modelValue?: string | null
    edit?: boolean
    loading?: boolean
    errors?: FieldErrors
  }>(),
  {
    class: '',
    modelValue: '',
    edit: false,
    loading: false,
    errors: () => [],
  }
)

const emit = defineEmits<{
  (e: 'update:modelValue', value: string): void
}>()

const value = computed({
  get: () => props.modelValue || '',
  set: (value: string) => emit('update:modelValue', value),
})
</script>

<style lang="scss" scoped>
.Description {
  &--read {
    :deep(.p-editor-toolbar) {
      display: none;
    }

    :deep(.ql-editor) {
      padding: 0;
    }

    :deep(.p-editor-content.ql-container) {
      padding: 0;
      border: none;
      background: transparent;
      font-size: 1rem;
      font-family: var(--font-family);
    }
  }

  &--edit {
    :deep(.p-editor-content.ql-container) {
      min-height: 150px;
    }
  }
}
</style>
