<template>
  <main class="Machines">
    <SearchOrCreate
      label-property="name"
      resource-type="machine"
      :loading="loading"
      :resources="filteredMachines"
      :total-records="totalRecords"
      @search="filter"
    >
      <template #create>
        <SimpleCreate
          resource-type="machine"
          label-property="name"
          :client="machineClient"
          :resource="{ name: name }"
          @created="loadData"
        />
      </template>

      <template #resource="{ resource }">
        <li class="Machines__Item">
          <span class="Machines__ItemName">{{ resource.name }}</span>
        </li>
      </template>
    </SearchOrCreate>
  </main>
</template>
<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import { onMounted, ref, computed } from 'vue'
import { machineClient, Machine } from '@/api/resources'
import { useRouter } from 'vue-router'
import SearchOrCreate from '@/components/resources/SearchOrCreate.vue'
import SimpleCreate from '@/components/resources/SimpleCreate.vue'

const router = useRouter()
const { t } = useI18n()

const machines = ref<Machine[]>([])
const filteredMachines = computed(() =>
  machines.value.filter((machine) =>
    machine.name.toLocaleLowerCase().includes(name.value.toLocaleLowerCase())
  )
)

/**
 * Filter machine with given string
 */
function filter(params: unknown) {
  name.value = (params as { name: string }).name
}

const name = ref('')
const totalRecords = ref(0)
const loading = ref<boolean>(false)

/**
 * Load all resources at once, filtering via js
 */
async function loadData() {
  loading.value = true
  try {
    let result = await machineClient.getCollection({})
    machines.value = result.resources
    totalRecords.value = result.total
    while (result.next) {
      result = await result.next()
      machines.value.push(...result.resources)
    }
  } finally {
    loading.value = false
  }
}

/**
 * First search at component creation
 */
onMounted(loadData)
</script>

<style lang="scss" scoped>
@use 'src/style/variables' as v;

.Machines {
  position: relative;
  padding: v.$spacing;

  &__Item {
    padding: v.$spacing;
    border-top: solid 1px var(--surface-50);

    &Name {
      flex: 1 1;
    }
  }
}
</style>
