<template>
  <main class="Teams">
    <SearchOrCreate
      label-property="name"
      resource-type="team"
      :loading="loading"
      :resources="filteredTeams"
      :total-records="totalRecords"
      @search="filter"
    >
      <template #create>
        <SimpleCreate
          resource-type="team"
          label-property="name"
          :client="teamClient"
          :resource="{ name: name }"
          @created="loadData"
        />
      </template>

      <template #resource="{ resource }">
        <li class="Teams__Item">
          <span class="Teams__ItemName">{{ resource.name }}</span>
        </li>
      </template>
    </SearchOrCreate>
  </main>
</template>
<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import { onMounted, ref, computed } from 'vue'
import { Team, teamClient } from '@/api/resources'
import { useRouter } from 'vue-router'
import SearchOrCreate from '@/components/resources/SearchOrCreate.vue'
import SimpleCreate from '@/components/resources/SimpleCreate.vue'

const router = useRouter()
const { t } = useI18n()

const teams = ref<Team[]>([])
const filteredTeams = computed(() =>
  teams.value.filter((team) =>
    team.name.toLocaleLowerCase().includes(name.value.toLocaleLowerCase())
  )
)

/**
 * Filter team with given string
 */
function filter(params: unknown) {
  name.value = (params as { name: string }).name
}

const name = ref('')
const totalRecords = ref(0)
const loading = ref<boolean>(false)

/**
 * Load all resources at once, filtering via js
 */
async function loadData() {
  loading.value = true
  try {
    let result = await teamClient.getCollection({})
    teams.value = result.resources
    totalRecords.value = result.total
    while (result.next) {
      result = await result.next()
      teams.value.push(...result.resources)
    }
  } finally {
    loading.value = false
  }
}

/**
 * First search at component creation
 */
onMounted(loadData)
</script>

<style lang="scss" scoped>
@use 'src/style/variables' as v;

.Teams {
  position: relative;
  padding: v.$spacing;

  &__Item {
    padding: v.$spacing;
    border-top: solid 1px var(--surface-50);

    &Name {
      flex: 1 1;
    }
  }
}
</style>
