<template>
  <PButton
    icon="mdi mdi-tune"
    class="p-button-text"
    :title="t('page.weekPlanning.filters.tune')"
    @click="isVisible = true"
  />

  <PDialog
    v-model:visible="isVisible"
    class="Config"
    modal
    :header="t('page.weekPlanning.filters.tune')"
    dismissable-mask
  >
    <label class="Config__Field">
      {{ t('page.weekPlanning.filters.days') }}
      <PInputNumber
        v-model="WeekPlanning.config.nbDays"
        mode="decimal"
        :min="1"
        show-buttons
        button-layout="horizontal"
        :allow-empty="false"
        increment-button-icon="pi pi-plus"
        decrement-button-icon="pi pi-minus"
      />
    </label>

    <label class="Config__Field">
      {{ t('page.weekPlanning.filters.granularity') }}
      <PInputNumber
        v-model="WeekPlanning.config.hoursPerBlock"
        mode="decimal"
        :step="0.25"
        :min="0.25"
        show-buttons
        button-layout="horizontal"
        :allow-empty="false"
        increment-button-icon="pi pi-plus"
        decrement-button-icon="pi pi-minus"
      />
    </label>

    <label class="Config__Field">
      {{ t('page.weekPlanning.filters.blockWidth') }}
      <PInputNumber
        v-model="WeekPlanning.config.blockWidth"
        mode="decimal"
        suffix=" px"
        :min="4"
        show-buttons
        button-layout="horizontal"
        :allow-empty="false"
        increment-button-icon="pi pi-plus"
        decrement-button-icon="pi pi-minus"
      />
    </label>

    <label class="Config__Field">
      {{ t('page.weekPlanning.filters.resourceAsTitle') }}
      <PInputSwitch
        v-model="WeekPlanning.config.resourceAsTitle"
        :binary="true"
      />
    </label>

    <div class="Config__Field">
      <label>{{ t('page.weekPlanning.filters.workforces.label') }}</label>
      <span class="Config__FieldHelp">
        <i class="mdi mdi-information"></i>
        {{ t('page.weekPlanning.filters.workforces.help') }}
      </span>
      <PMultiSelect
        v-model="selectedWorkforces"
        :placeholder="t('page.weekPlanning.filters.workforces.placeholder')"
        :options="Resources.allWorkforces"
        option-label="name"
        option-value="id"
        :show-toggle-all="false"
        filter
      />
    </div>
  </PDialog>
</template>

<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import type { Workforce } from '@/api'
import { computed, onMounted, ref } from 'vue'
import type { ProvidedResources, ProvidedWeekPlanning } from '@/provided'
import { injectStrict } from '@/injectStrict'
import { ResourcesKey, WeekPlanningKey } from '@/provided'

const { t } = useI18n()
const isVisible = ref(false)
const workforces = ref<Array<Workforce>>([])

const Resources = injectStrict<ProvidedResources>(ResourcesKey)
const WeekPlanning = injectStrict<ProvidedWeekPlanning>(WeekPlanningKey)

const selectedWorkforces = computed({
  get: () =>
    WeekPlanning.config.selectedWorkforces.filter((id) =>
      Resources.allId.value.includes(id)
    ),
  set: (value: Array<Workforce['id']>) =>
    (WeekPlanning.config.selectedWorkforces = value),
})

onMounted(async () => await Resources.loadWorkforces())
</script>

<style lang="scss" scoped>
@use 'src/style/variables' as v;

.Config {
  &__Field {
    display: flex;
    flex-direction: column;
    grid-gap: v.$spacing-2;
    margin-top: v.$spacing;

    :deep(.p-inputtext) {
      text-align: right;
    }

    &Help {
      border-radius: 5px;
      color: var(--cyan-600);
      font-size: small;
    }
  }
}
</style>
