<template>
  <div class="DayBars">
    <div
      v-for="day of days"
      :key="day.toISOString()"
      :class="getClass(day)"
      :style="style(day)"
    />
  </div>
</template>

<script lang="ts" setup>
import { days } from '@/states/weekPlanning'
import { dateToPosition } from './timedPosition'
import { Moment } from 'moment/moment'

const style = (day: Moment) => ({
  left: dateToPosition({ startDate: day.toDate() }).left,
})

function getClass(day: Moment) {
  return {
    DayBars__Bar: true,
    'DayBars__Bar--weekStart': day.weekday() === 0,
  }
}
</script>

<style lang="scss" scoped>
@use 'src/style/variables' as v;
@use './weekPlanning' as wp;

.DayBars {
  position: absolute;
  top: 0;
  left: wp.$labelWidth;
  z-index: wp.$z-index-dayBars;
  height: 100%;
  background-color: transparent;

  &__Bar {
    position: absolute;
    height: 100%;
    border-left: 1px solid var(--surface-400);
    list-style: none;

    &--weekStart {
      border-width: 4px;
    }
  }
}
</style>
