<template>
  <div class="Ruler" :style="timelineWidth()">
    <div class="Ruler__Head">
      {{ t('page.weekPlanning.ruler.week') }} {{ week }}
    </div>
    <ol class="Ruler__Days">
      <NowBlock class="Ruler__Now" />
      <li
        v-for="day of days"
        :key="day.toISOString()"
        class="Ruler__Day"
        :style="dateToPosition({ startDate: day.toDate() })"
      >
        <span class="Ruler__DayNumber">{{ day.format('DD') }}</span>
        <span class="Ruler__DayName">{{ day.format('ddd') }}</span>
      </li>
    </ol>
  </div>
</template>

<script lang="ts" setup>
import { days, referenceDate } from '@/states/weekPlanning'
import { computed } from 'vue'
import moment from 'moment-timezone'
import { useI18n } from 'vue-i18n'
import { dateToPosition, timelineWidth } from './timedPosition'
import NowBlock from '@/pages/weekPlanning/NowBlock.vue'

const { t } = useI18n()
const week = computed(() => moment(referenceDate.value).week())
</script>

<style lang="scss" scoped>
@use 'src/style/variables' as v;
@use './weekPlanning' as wp;

.Ruler {
  @include wp.Timeline;

  position: sticky;
  top: 0;
  z-index: wp.$z-index-ruler;
  height: 40px;
  border-bottom: 1px solid var(--surface-200);
  background-color: var(--surface-0);

  &__Head {
    @include wp.TimeLineHead;

    border-bottom: none;
  }

  &__Days {
    @include wp.TimelineElements;

    background-color: var(--surface-0);
  }

  &__Day {
    position: absolute;
    display: inline-flex;
    grid-gap: v.$spacing-2;
    align-items: center;
    justify-content: start;
    height: 100%;
    padding-left: v.$spacing-2;
    border-left: 1px solid var(--surface-400);
    text-transform: uppercase;
  }

  &__Now {
    border-bottom: 2px solid var(--success-color);
    background-color: transparent;
    opacity: 1;
  }
}
</style>
