@use 'src/style/variables' as v;
@use './weekPlanning' as wp;

@mixin triangle {
  content: '';
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: var(--surface-600, #dbdbdb);
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}

@mixin task {
  --minDurationWidth: 100%;

  display: grid;
  grid-template-areas:
    'Title handle'
    'Code handle';
  grid-template-rows: 1fr min-content;
  grid-template-columns: 1fr min-content;
  gap: 0 0;
  align-items: center;
  padding: v.$spacing-2 v.$spacing-2;
  border: 1px solid var(--surface-100, #dbdbdb);
  border-radius: v.$borderRadius;
  background: linear-gradient(
    90deg,
    var(--surface-100) 0 var(--minDurationWidth),
    var(--surface-50) var(--minDurationWidth) 100%
  );
  cursor: grab;

  &__Title {
    display: inline;
    grid-area: Title;
    align-self: start;
    justify-self: start;
    overflow: hidden;
    max-width: 100%;
    color: inherit;
    font-weight: 600;
    font-size: 0.9rem;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__Code {
    grid-area: Code;
    overflow: hidden;
    font-style: italic;
    font-size: 0.8rem;
  }

  &--endAfter {
    border-right: none;

    &::after {
      @include triangle;

      right: -20px;
    }
  }

  &--startBefore {
    border-left: none;

    &::before {
      @include triangle;

      left: 0;
    }
  }
}
