<template>
  <li :class="getClass" :title="props.task.title">
    <span class="TaskPreview__Title">{{ label }}</span>
    <span v-if="code" class="TaskPreview__Code">#{{ code }}</span>
    <span class="TaskPreview__Dates">
      <span class="TaskPreview__StartDate">{{ displayStartDate }}</span>
      <span class="TaskPreview__EndDate">{{ displayEndDate }}</span>
    </span>
  </li>
</template>

<script lang="ts" setup>
import { Task } from '@/api'
import { computed, toRef, toRefs } from 'vue'
import { useI18n } from 'vue-i18n'
import moment from 'moment-timezone'
import { handleOutOfBound } from '@/pages/weekPlanning/timedPosition'
import { useTaskLabel } from '@/pages/weekPlanning/useTaskLabel'

const props = defineProps<{
  task: Task
}>()
const { task } = toRefs(props)

const { t } = useI18n()

const { startBefore, endAfter } = handleOutOfBound(toRef(props, 'task'))

const displayStartDate = computed(() =>
  moment(props.task.startDate).format(startBefore.value ? 'L LT' : 'LT')
)
const displayEndDate = computed(() =>
  moment(props.task.estimatedEndMax).format(endAfter.value ? 'L LT' : 'LT')
)

const { label, code } = useTaskLabel(task)

const getClass = computed(() => ({
  TaskPreview: true,
  'TaskPreview--startBefore': startBefore.value,
  'TaskPreview--endAfter': endAfter.value,
}))
</script>

<style lang="scss" scoped>
@use 'src/style/variables' as v;
@use './task' as t;

.TaskPreview {
  @include t.task;

  opacity: 0.8;
  pointer-events: none;

  &__Dates {
    position: absolute;
    right: 0;
    bottom: -1rem;
    left: 0;
    display: inline-flex;
    grid-gap: v.$spacing;
    justify-content: space-between;
    min-width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.8rem;
    text-align: center;
    white-space: nowrap;
  }
}
</style>
