<template>
  <main ref="main" class="WeekPlanning">
    <Filters />
    <div class="WeekPlanning__Scroller">
      <div class="WeekPlanning__Timelines">
        <DayBars />
        <Ruler />
        <component
          :is="laneComponent"
          v-for="headId of taskTree.current.value.keys()"
          :key="[headId, config.row].join('_')"
          :head-id="headId"
        />
      </div>
    </div>
  </main>
  <Backlog class="WeekPlanning__Backlog" />
</template>

<script lang="ts" setup>
import Filters from './Filters.vue'
import BusinessCaseLane from './BusinessCaseLane.vue'
import WorkforceLane from './WorkforceLane.vue'
import Ruler from './Ruler.vue'
import DayBars from './DayBars.vue'
import Backlog from './Backlog.vue'
import { useI18n } from 'vue-i18n'
import { computed, onMounted, ref } from 'vue'
import {
  BY_BUSINESS_CASE,
  config,
  getAllVisibleTasks,
  taskTree,
} from '@/states/weekPlanning'
import { useRouteQuery } from '@/pages/weekPlanning/useRouteQuery'

const { t } = useI18n()
const main = ref<HTMLElement | null>(null)
const laneComponent = computed(() => {
  if (config.row === BY_BUSINESS_CASE) return BusinessCaseLane
  return WorkforceLane
})

useRouteQuery()

onMounted(async () => {
  if (!taskTree.size) await getAllVisibleTasks()
})
</script>

<style lang="scss" scoped>
@use 'src/style/variables' as v;
@use './weekPlanning' as wp;

.WeekPlanning {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-height: 100%;
  padding: v.$spacing;

  &__Timelines {
    position: relative;
  }

  &__Scroller {
    overflow: auto;
  }

  &__Backlog {
    grid-area: r-sideBar;
  }
}
</style>
