@use 'src/style/variables' as v;

$labelWidth: 10rem;
$timeline-height: 4rem;
$z-index-now: 1;
$z-index-timeline: 2;
$z-index-dayBars: 3;
$z-index-tasks: 4;
$z-index-head: 5;
$z-index-ruler: 6;

@mixin Timeline {
  z-index: $z-index-timeline;
  display: grid;
  grid-template-areas: 'head tasks';
  grid-template-columns: $labelWidth var(--timeline-width, 1fr);
  align-items: center;
  justify-content: flex-start;
  width: min-content;
  height: $timeline-height;
  border-bottom: 1px solid var(--surface-d);
  background-color: var(--surface-0);

  &--active,
  &--active:nth-child(odd),
  &--active:nth-child(even) {
    height: calc(#{$timeline-height} + 1rem);
  }

  &__Head {
    @include TimeLineHead;
  }

  &__Tasks {
    @include TimelineElements;
  }

  &__Task {
    @include TimelineElement;
  }
}

@mixin TimeLineHead {
  position: sticky;
  left: 0;
  z-index: $z-index-head;
  display: grid;
  grid-area: head;
  align-content: center;
  align-self: stretch;
  border-right: 1px solid var(--surface-600);
  border-bottom: 1px dashed var(--surface-600);
  background-color: var(--surface-0);
}

@mixin TimelineElements {
  position: relative;
  display: block;
  grid-area: tasks;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin TimelineElement {
  position: absolute;
  top: 4px;
  z-index: $z-index-tasks;
  height: $timeline-height - 2 * v.$spacing-4;
}
