<template>
  <h2>{{ t(`page.settings.password.title`) }}</h2>
  <form class="ChangePassword" @submit.prevent="submit">
    <!-- Current password -->
    <div class="ChangePassword__Current p-field">
      <span class="p-float-label">
        <p-InputText
          :id="`${uuid}_current`"
          v-model="params.currentPassword"
          class="ChangePassword__CurrentInput"
          :class="{ 'p-invalid': errors.currentPassword }"
          :aria-describedby="`${uuid}_current_help`"
          type="password"
        />
        <label :for="`${uuid}_current`">{{
          t(`page.settings.password.current`)
        }}</label>
      </span>
      <ErrorWrapper :errors="errors.currentPassword" />
    </div>

    <!-- New password -->
    <div class="ChangePassword__New p-field">
      <span class="p-float-label">
        <p-Password
          :id="`${uuid}_new`"
          v-model="params.newPassword"
          class="ChangePassword__NewInput"
          :class="{ 'p-invalid': errors.newPassword }"
          :aria-describedby="`${uuid}_new_help`"
          type="password"
        />
        <label :for="`${uuid}_new`">{{
          t(`page.settings.password.new`)
        }}</label>
      </span>
      <ErrorWrapper :errors="errors.newPassword" />
    </div>
    <p-Button
      v-show="!running"
      :disabled="!valid"
      :label="t(`page.settings.password.submit`)"
      class="ChangePassword__Submit p-button-outlined"
      type="submit"
    />
    <p-ProgressSpinner
      v-show="running"
      class="ChangePassword__Submit p-button-outlined"
    />
  </form>
</template>

<script lang="ts" setup>
import { computed, reactive, ref } from 'vue'
import { hasUuid } from '@/components/HasUuid'
import { getApiClient } from '@/api'
import { addMessage, settings } from '@/states'
import { useI18n } from 'vue-i18n'
import { useFormValidation } from '@/components/form'
import { AxiosError } from 'axios'

const uuid = hasUuid().uuid
const t = useI18n().t
const running = ref<boolean>(false)

const { errors, clearErrors, parseViolations } = useFormValidation()

const params = reactive({ currentPassword: '', newPassword: '' })
const valid = computed(() => params.currentPassword && params.newPassword)

const submit = async () => {
  clearErrors()
  if (valid.value) {
    running.value = true
    const client = await getApiClient()

    try {
      await client.post(`${settings.user.id}/change_password`, params)
      addMessage({
        severity: 'success',
        summary: t(`page.settings.success`) as string,
        detail: t(`page.settings.password.successDetail`) as string,
        life: 3000,
      })
    } catch (e) {
      if ((e as AxiosError)?.response?.status === 422) {
        parseViolations((e as AxiosError)?.response?.data.violations)
      }
      console.error(e)
    }
  }
  running.value = false
}
</script>

<style lang="scss">
@use 'src/style/mixins' as m;
@use 'src/style/variables' as v;

.ChangePassword {
  display: grid;
  grid-template-areas:
    'current'
    'new'
    'submit';
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-gap: v.$spacing * 2;
  max-width: v.$minWidth;
  padding-top: v.$spacing;

  &__Submit {
    grid-area: submit;
    align-self: start;
    justify-self: start;
  }

  &__Current {
    grid-area: current;
  }

  &__New {
    grid-area: new;
  }

  &__CurentInput,
  &__NewInput {
    width: 100%;
  }
}
</style>
