<template>
  <main class="Settings">
    <label class="Settings__Label"
      >{{ t('page.settings.theme.label') }}
      <p-Dropdown
        v-model="settings.theme"
        class="Settings__Theme"
        :options="themeOptions"
        option-label="label"
        option-value="value"
      />
    </label>

    <label class="Settings__Label"
      >{{ t('page.settings.lang.label') }}
      <p-Dropdown
        v-model="settings.lang"
        class="Settings__Language"
        :options="langOptions"
        option-label="label"
        option-value="value"
      />
    </label>

    <Timezone class="Settings__Label" />
    <Personal />
    <ChangeEmail />
    <ChangePassword />
  </main>
</template>

<script lang="ts" setup>
import { Settings, settings } from '@/states'
import { ListOptions } from '@/types'
import Personal from './Personal.vue'
import ChangePassword from './ChangePassword.vue'
import Timezone from './Timezone.vue'
import { useI18n } from 'vue-i18n'
import { computed } from 'vue'
import ChangeEmail from './ChangeEmail.vue'

// Import translator
const { t, availableLocales } = useI18n()

const langOptions: ListOptions<string> = availableLocales.map((lang) => ({
  label: useI18n().t('_name', '', { locale: lang }),
  value: lang,
}))

const themeOptions = computed<ListOptions<Settings['theme']>>(() => [
  {
    label: t('page.settings.theme.themeLight') as string,
    value: 'themeLight',
  },
  {
    label: t('page.settings.theme.themeDark') as string,
    value: 'themeDark',
  },
])
</script>

<style lang="scss">
@use 'src/style/variables' as v;
@use 'src/style/mixins' as m;

.Settings {
  @include m.fixedView;

  &__TimeZoneOption {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    .Settings__LocalTime {
      color: var(--text-color-secondary);
      font-style: italic;
      text-align: right;
    }
  }

  &__Label {
    @include m.mobile {
      width: 100%;
    }

    display: inline-flex;
    justify-content: space-between;
    padding: v.$spacing-2 0;
  }
}
</style>
