<template>
  <main class="BusinessCases">
    <PToolbar class="p-mb-4">
      <template #start>
        <PButton
          type="button"
          icon="pi pi-filter-slash"
          :label="t('label.clear_filters')"
          class="p-button-outlined"
          :disabled="hasNoFilter"
          @click="clearFilters()"
        />
      </template>
      <template #end>
        <PButton
          :label="t('resource.business_case.create')"
          icon="pi pi-plus"
          class="p-button-success p-mr-2"
          @click="showDialog = true"
        />
      </template>
    </PToolbar>

    <PDataTable
      v-model:filters="filters"
      :value="businessCases"
      :total-records="totalRecords"
      :loading="loading"
      :rows="30"
      :row-hover="true"
      :row-class="() => `BusinessCaseItem`"
      paginator-template="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
      current-page-report-template=""
      responsive-layout="scroll"
      lazy
      filter-display="menu"
      paginator
      show-gridlines
      @row-click="showBusinessCase"
      @page="onPage"
      @sort="onSort"
      @filter="onFilter"
    >
      <template #empty>
        {{ t('page.business_cases.no_data') }}
      </template>

      <!-- Code column -->
      <PColumn
        field="code"
        :header="t('resource.business_case.code')"
        :showFilterMatchModes="false"
      >
        <template #filter="{ filterModel, filterCallback }">
          <PInputText
            v-model="filterModel.value"
            type="text"
            class="p-column-filter"
            :placeholder="t('page.business_cases.search_by.code')"
            @input="filterCallback()"
          />
        </template>
      </PColumn>

      <!-- Name column -->
      <PColumn
        field="name"
        :header="t('resource.business_case.name')"
        :showFilterMatchModes="false"
      >
        <template #filter="{ filterModel, filterCallback }">
          <PInputText
            v-model="filterModel.value"
            type="text"
            class="p-column-filter"
            :placeholder="t('page.business_cases.search_by.name')"
            @input="filterCallback()"
          /> </template
      ></PColumn>

      <!-- Due date column -->
      <PColumn
        field="dueDate"
        filter-field="dueDate"
        data-type="date"
        :showFilterOperator="false"
        :filterMatchModeOptions="dueDateMatchModes"
        :header="t('resource.business_case.dueDate')"
        :sortable="true"
      >
        <template #body="{ data }">
          {{ data.dueDate ? moment(data.dueDate).format('LL') : '' }}
        </template>
        <template #filter="{ filterModel }">
          <PCalendar
            v-model="filterModel.value"
            :placeholder="t('resource.business_case.dueDate')"
          />
        </template>
      </PColumn>
    </PDataTable>

    <BusinessCaseDialog
      v-model:visible="showDialog"
      @resource:created="loadData"
    />
  </main>
</template>
<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import { computed, onMounted, reactive, ref, toRaw, watch } from 'vue'
import { useRouter } from 'vue-router'
import { FilterMatchMode, FilterOperator } from 'primevue/api'
import { ROUTES } from '@/plugins'
import {
  BusinessCase,
  businessCaseClient,
  BusinessCasesParams,
} from '@/api/resources'
import moment from 'moment-timezone'

const router = useRouter()
const { t } = useI18n()
const loading = ref<boolean>(false)
const businessCases = ref<BusinessCase[]>([])
const totalRecords = ref<number>(0)
const showDialog = ref<boolean>(false)

type DateConstraint = {
  value: Date | null
  matchMode:
    | typeof FilterMatchMode.DATE_BEFORE
    | typeof FilterMatchMode.DATE_AFTER
}

type Filters = {
  code: { value: string }
  name: { value: string }
  dueDate: {
    operator: typeof FilterOperator.AND
    constraints: DateConstraint[]
  }
}

// Proxy object used by data-table to aggregate user filters
const filters = ref<Filters>({
  code: { value: '' },
  name: { value: '' },
  dueDate: {
    operator: FilterOperator.AND,
    constraints: [{ value: null, matchMode: FilterMatchMode.DATE_BEFORE }],
  },
})

const dueDateMatchModes = [
  { label: t('label.filter.before_date'), value: FilterMatchMode.DATE_BEFORE },
  { label: t('label.filter.after_date'), value: FilterMatchMode.DATE_AFTER },
]

const queryParams = reactive<BusinessCasesParams>({
  page: 1,
  'order[dueDate]': 'ASC',
})

/**
 * Whether there is no active filter
 */
const hasNoFilter = computed((): boolean => {
  let emptyDueDateFilter = true

  for (const constraint of filters.value.dueDate.constraints) {
    if (constraint.value) {
      emptyDueDateFilter = false
      break
    }
  }

  return (
    !filters.value.code.value && !filters.value.name.value && emptyDueDateFilter
  )
})

/**
 * When user click on pagination, update page index in order to trigger API call
 */
const onPage = (event: { page: number }) => {
  queryParams.page = event.page + 1 // event.page is zero-based, API is one-based
}

/**
 * When user click on due date ordering, update query params
 */
const onSort = (event: { sortField: string; sortOrder: number }) => {
  queryParams.page = 1
  queryParams['order[dueDate]'] = event.sortOrder > 0 ? 'ASC' : 'DESC'
}

/**
 * Update query params with user filters
 */
const onFilter = () => {
  queryParams.page = 1
  queryParams.code = filters.value.code.value
  queryParams.name = filters.value.name.value

  // Due date filter
  delete queryParams.dueDateBefore
  delete queryParams.dueDateAfter
  filters.value.dueDate.constraints.forEach((constraint) => {
    if (constraint.value) {
      if ('dateBefore' === constraint.matchMode) {
        queryParams.dueDateBefore = constraint.value
      } else if ('dateAfter' === constraint.matchMode) {
        queryParams.dueDateAfter = constraint.value
      }
    }
  })
}

/**
 * Clear all filters
 */
const clearFilters = () => {
  delete queryParams.code
  delete queryParams.name
  delete queryParams.dueDateBefore
  delete queryParams.dueDateAfter
  queryParams.page = 1

  filters.value.code.value = ''
  filters.value.name.value = ''
  filters.value.dueDate.constraints = [
    { value: null, matchMode: FilterMatchMode.DATE_BEFORE },
  ]
}

/**
 * Load data from API & update data-table
 */
async function loadData() {
  loading.value = true

  try {
    const result = await businessCaseClient.getCollection(toRaw(queryParams))

    businessCases.value = result.resources
    totalRecords.value = result.total
  } finally {
    loading.value = false
  }
}

/**
 * Open page of the clicked business case
 */
const showBusinessCase = (event: { data: { id: string } }) =>
  router.push({ ...ROUTES.BUSINESS_CASE, params: { uuid: event.data.id } })

onMounted(loadData)
watch(queryParams, loadData)
</script>

<style lang="scss">
@use 'src/style/variables' as v;

.BusinessCases {
  padding: v.$spacing;
}

.BusinessCaseItem {
  cursor: pointer;
}
</style>
