<template>
  <!-- Change due date modal -->
  <PDialog
    v-model:visible="visible"
    :header="
      businessCase.dueDate
        ? t('component.dueDatePicker.update')
        : t('component.dueDatePicker.set')
    "
    modal
    dismissable-mask
    class="DueDatePicker"
    content-class="DueDatePicker__Content"
    @hide="cancel"
  >
    <!-- Due date picker -->
    <PCalendar v-model="dueDate" inline />
    <ErrorWrapper :errors="errors.dueDate" />

    <div class="DueDatePicker__Buttons">
      <!-- Cancel button -->
      <PButton
        class="DueDatePicker__Cancel p-button-text p-button-secondary"
        @click="cancel"
      >
        {{ t('action.cancel') }}
      </PButton>

      <!-- Submit button -->
      <PButton
        :disabled="!isValid"
        class="DueDatePicker__Modify"
        @click="updateDueDate"
      >
        {{ businessCase.dueDate ? t('action.update') : t('action.save') }}
      </PButton>
    </div>

    <!-- Remove button -->
    <div v-if="businessCase.dueDate" class="DueDatePicker__Remove">
      <PButton
        class="p-button-outlined p-button-danger"
        @click="deleteDueDate"
        >{{ t('component.dueDatePicker.remove') }}</PButton
      >
    </div>
  </PDialog>
</template>

<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import { BusinessCase, businessCaseClient } from '@/api'
import { watchEffect, ref, computed } from 'vue'
import { useFormValidation } from '@/components/form'
import { addMessage } from '@/states'
import moment from 'moment-timezone'
import ErrorWrapper from '@/components/form/ErrorWrapper.vue'
import { AxiosError } from 'axios'

const { t } = useI18n()

const props = defineProps<{
  businessCase: BusinessCase
}>()

const emits = defineEmits<{
  (e: 'success', businessCase: BusinessCase): void
  (e: 'cancel'): void
}>()

const visible = ref(true)
const { errors, clearErrors, parseViolations } = useFormValidation()
const dueDate = ref<Date | null>(null)

watchEffect(() => {
  dueDate.value = props.businessCase.dueDate ?? new Date()
})

/**
 * Cancel this action
 * Wait close animation before firing the actual cancel event
 */
function cancel() {
  visible.value = false
  window.setTimeout(() => emits('cancel'), 400)
}

/**
 * True if due date changed and is valid
 */
const isValid = computed(() => {
  return (
    !moment(dueDate.value).isSame(moment(props.businessCase.dueDate)) &&
    (!dueDate.value || moment(dueDate.value).isValid())
  )
})

/**
 * Delete due date
 */
const deleteDueDate = async () => {
  dueDate.value = null
  return await updateDueDate()
}

/**
 * Patch Business case with new due date
 */
const updateDueDate = async () => {
  clearErrors()

  if (!isValid.value) return

  try {
    const businessCase = await businessCaseClient.patch(props.businessCase.id, {
      dueDate: dueDate.value,
    })

    let key = dueDate.value
      ? 'component.dueDatePicker.updated'
      : 'component.dueDatePicker.removed'

    addMessage({
      severity: 'success',
      summary: t(key),
      life: 5000,
    })
    emits('success', businessCase)
  } catch (e) {
    if ((e as AxiosError)?.response?.status === 422) {
      parseViolations((e as AxiosError).response?.data.violations)
    } else {
      console.error(e)
    }
  }
}
</script>

<style lang="scss" scoped>
@use '../../../style/variables' as v;

.DueDatePicker {
  margin: auto;

  &__Buttons {
    display: inline-flex;
    gap: v.$spacing;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: v.$spacing;
  }

  &__Remove {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    justify-self: stretch;
    margin-top: v.$spacing;
    padding-top: v.$spacing;
    border-top: 1px solid var(--surface-d);
  }
}
</style>
