<template>
  <aside v-if="!closeSideBar" class="TaskSideBar">
    <!-- Minify button -->
    <PButton
      :title="mini ? t('action.show') : t('action.reduce')"
      class="p-button-text"
      :icon="`mdi mdi-chevron-double-${mini ? 'left' : 'right'}`"
      @click="mini = !mini"
    />
    <!-- Sidebar content -->
    <div v-if="!mini" class="TaskSideBar__Task">
      <router-link
        class="TaskSideBar__TaskTitle"
        :to="{ ...ROUTES.TASK, params: { uuid: props.uuid } }"
      >
        {{ task.title || t('resource.untitled') }}
      </router-link>

      <!-- Start Date -->
      <div class="TaskSideBar__TaskDate">
        <span class="TaskSideBar__TaskDateKey">
          {{ t('resource.task.startDate') }}
        </span>
        <span v-if="task?.startDate" class="TaskSideBar__TaskDateValue">{{
          displayDate(task.startDate)
        }}</span>
        <span v-else class="TaskSideBar__TaskDateValue">{{
          t('resource.task.undefinedDate')
        }}</span>
      </div>

      <!-- End Date -->
      <div class="TaskSideBar__TaskDate">
        <span class="TaskSideBar__TaskDateKey">
          {{ t('resource.task.endDate') }}
        </span>
        <span v-if="task?.endDate" class="TaskSideBar__TaskDateValue">{{
          displayDate(task.endDate)
        }}</span>
        <span v-else class="TaskSideBar__TaskDateValue">{{
          t('resource.task.undefinedDate')
        }}</span>
      </div>
      <AssigneePicker
        :model-value="assignee"
        class="TaskSideBar__TaskAssigneePicker"
        @update:model-value="updateAssignee($event?.id ?? null)"
      />
      <PButton
        type="button"
        :label="t('action.delete')"
        icon="pi pi-trash"
        class="p-button-danger"
        @click="displayConfirmDelete = true"
      />
      <ConfirmDeleteDialog
        v-model:visible="displayConfirmDelete"
        :uuid="props.uuid"
        resource-key="task"
        :resource-name="task.title"
        @deleted:resource="onTaskDelete"
      />
    </div>
    <!-- Minified sidebar content -->
    <div v-if="mini" class="TaskSideBar__Mini">
      <PAvatar
        shape="circle"
        :label="assignee?.name ? assignee?.name.charAt(0).toUpperCase() : null"
      />
    </div>
  </aside>
</template>

<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import { useTask } from '@/pages/tasks/useTask'
import { toRefs, ref } from 'vue'
import AssigneePicker from '@/components/resources/AssigneePicker.vue'
import { useAssignee } from '@/pages/tasks/useAssignee'
import type { Task, Workforce } from '@/api'
import { ROUTES } from '@/plugins'
import { displayDate } from '@/components/form'
import ConfirmDeleteDialog from '@/components/resources/ConfirmDeleteDialog.vue'

const { t } = useI18n()

const props = defineProps<{
  /**
   * Focused task that is displayed on the sidebar
   */
  uuid: string
}>()

const emits = defineEmits<{
  /**
   * Fires when task is deleted
   */
  (e: 'delete:focusedTask', value: Task['id']): void
  /**
   * Fires when task is updated
   */
  (e: 'update:focusedTask', value: Task['id']): void
}>()

const { uuid } = toRefs(props)
const closeSideBar = ref<boolean>(false)
const mini = ref<boolean>(false)
const displayConfirmDelete = ref<boolean>(false)

const { task, patchTask, taskErrors, taskLoading } = useTask(
  uuid,
  onTaskNotFound
)
const { assignee } = useAssignee(task, patchTask)

function onTaskNotFound() {
  closeSideBar.value = true
}

async function updateAssignee(newAssignee: Workforce['id'] | null) {
  task.value.assignedTo = newAssignee
  await submit()
  emits('update:focusedTask', props.uuid)
}

function onTaskDelete() {
  emits('delete:focusedTask', props.uuid)
}

async function submit() {
  await patchTask()
}
</script>

<style lang="scss" scoped>
@use 'src/style/variables' as v;
@use 'src/style/mixins' as m;

.TaskSideBar {
  @include m.mobile {
    display: none;
  }

  display: flex;
  flex-direction: column;
  max-width: 200px;
  padding: v.$spacing-4;
  border-left: solid 1px var(--surface-d);
  background: var(--surface-100);

  &__Task {
    display: flex;
    flex-direction: column;
    grid-gap: v.$spacing;
    padding: v.$spacing;
    background: var(--surface-100);

    &Title {
      color: var(--text-color);
      font-weight: 600;
      text-decoration: none;
    }

    &AssigneePicker {
      align-self: start;
    }

    &Date {
      display: flex;
      flex-direction: column;
      font-size: 0.9rem;

      &Key {
        font-weight: 400;
      }

      &Value {
        font-weight: 500;
      }
    }
  }

  &__Mini {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: v.$spacing-2;
    background: var(--surface-100);
  }
}
</style>
