@charset "UTF-8";

@use 'variables';
@use 'mixins' as m;
@use 'transitions';

/* stylelint-disable-next-line  selector-max-type */
html,
body {
  @include m.mobile {
    font-size: 14px;
  }

  display: grid;
  flex-direction: column;
  grid-template-areas:
    'topBar  topBar topBar'
    'sideBar main   r-sideBar';
  grid-template-rows: minmax(min-content, auto) 1fr;
  grid-template-columns: minmax(min-content, auto) 1fr minmax(min-content, auto);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: var(--surface-0);
  color: var(--text-color);
  font-size: 16px;
  font-family: var(--font-family);
}

/* stylelint-disable-next-line  selector-max-type */
main {
  flex: 1 1;
  grid-area: main;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
}
