<template>
  <div class="LegalNoticeFooter">
    <span class="LegalNoticeFooter__Author"
      >{{ t('component.legalNotice.madeBy')
      }}<a
        href="https://www.savadenn.bzh"
        class="LegalNoticeFooter__AuthorLink"
        title="Savadenn website"
        >Savadenn</a
      ></span
    >
    <PButton
      class="LegalNoticeFooter__OpenButton p-button-text"
      :label="t('component.legalNotice.title')"
      @click="visible = true"
    />
  </div>

  <PDialog
    v-model:visible="visible"
    class="LegalNoticeDialog"
    :header="t('component.legalNotice.title')"
    :style="{ width: '50vw' }"
    maximizable
    modal
  >
    <h2>{{ t('component.legalNotice.editor') }}</h2>
    <p>
      Savadenn<br />
      <br />
      Atelier des entreprises<br />
      Place de l’Europe,<br />
      Porte Océane<br />
      56400 Auray<br />
      Bretagne France<br />
      <br />
      Société coopérative exploitée sous forme de SARL au capital variable de
      20000 €<br />
      SIRET: 891 139 495 00016
    </p>

    <h2>{{ t('component.legalNotice.publishingDirector.title') }}</h2>
    <p>{{ t('component.legalNotice.publishingDirector.content') }}</p>

    <h2>{{ t('component.legalNotice.hosting') }}</h2>
    <p>
      Scaleway / Online SA<br />
      8 rue de la ville l’Evêque<br />
      75008 Paris, France<br />
      <br />
      registered under number RCS PARIS B 433 115 904<br />
      VAT number FR35433115904
    </p>

    <h2>{{ t('component.legalNotice.useTerm.title') }}</h2>
    <p>{{ t('component.legalNotice.useTerm.content') }}</p>

    <h2>{{ t('component.legalNotice.privacy.title') }}</h2>
    <p>{{ t('component.legalNotice.privacy.content') }}</p>

    <h2>{{ t('component.legalNotice.cookies.title') }}</h2>
    <p>{{ t('component.legalNotice.cookies.content') }}</p>

    <h2>{{ t('component.legalNotice.trademark.title') }}</h2>
    <p>{{ t('component.legalNotice.trademark.content') }}</p>
  </PDialog>
</template>

<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import { ref } from 'vue'

const visible = ref(false)
const { t } = useI18n()
</script>

<style lang="scss" scoped>
@use 'src/style/variables' as v;

.LegalNotice {
  &Footer {
    position: fixed;
    right: 0;
    bottom: 0;
    display: inline-flex;
    grid-gap: v.$spacing;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: v.$spacing-2;
    background-color: #354e5b;

    &__Author {
      display: inline-flex;
      color: white;

      &Link {
        width: 7rem;
        margin-left: 5px;
        background-image: url('/img/savadenn.i.svg');
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
        color: transparent;
      }
    }

    &__OpenButton {
      padding: 0;
      color: white;

      :deep(.p-button-label) {
        color: white;
      }
    }
  }
}
</style>
