<template>
  <main class="Login">
    <form class="Login__Form" @submit.prevent="submit">
      <img
        alt="Workshop Logo"
        class="Login__Logo"
        src="../../public/img/logo.g.svg"
      />

      <span class="Login__Title">Workshop Tools</span>

      <div v-if="show.email" class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="mdi mdi-at"></i>
        </span>
        <p-InputText
          v-model="credentials.email"
          :placeholder="t('component.login.email')"
          class="Login__Email"
          required
          type="email"
        />
      </div>

      <div v-if="show.token" class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="mdi mdi-shield-key-outline"></i>
        </span>
        <p-InputText
          v-model="credentials.token"
          class="Login__Token"
          disabled
          required
          type="text"
        />
      </div>

      <div class="Login__PasswordBlock">
        <div v-if="show.password" class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <i class="mdi mdi-lock-outline"></i>
          </span>
          <p-Password
            v-model="credentials.password"
            class="Login__Password"
            :feedback="false"
            :placeholder="t(passwordLabel)"
            toggle-mask
          >
          </p-Password>
        </div>
        <div v-if="flow === FLOW.resetPassword">
          <template v-for="reqType in reqTypes" :key="reqType">
            <p>
              {{ t(`component.login.passwordReqs.${reqType}.title`) }}
            </p>
            <p
              v-for="(req, reqName) in passwordReqs[reqType]"
              :key="reqName"
              class="Login__PasswordReq"
            >
              <i
                class="mdi"
                :class="{
                  'mdi-checkbox-marked-outline': req.valid.value,
                  'mdi-checkbox-blank-outline': !req.valid.value,
                }"
              />
              <span>&nbsp;{{ req.message }}</span>
            </p>
          </template>
        </div>
      </div>

      <div class="Login__Controls">
        <p-Button
          v-if="flow !== FLOW.recover"
          :label="t('component.login.recover.start')"
          class="Login__Recovery p-button-secondary p-button-outlined p-button-text"
          @click="recover"
        />
        <p-Button
          v-if="flow === FLOW.recover"
          :label="t('component.login.submit')"
          class="Login__RecoveryBack p-button-secondary p-button-outlined p-button-text"
          @click="flow = FLOW.login"
        />
        <p-Button
          v-if="!logging"
          :disabled="!validCredentials"
          :label="t(submitLabel)"
          class="Login__Submit p-button-outlined"
          type="submit"
        />
      </div>
      <div class="Login__Messages">
        <span v-if="message.error" class="Login__MessageError">{{
          t(message.error)
        }}</span>
        <span v-if="message.success" class="Login__MessageSuccess">{{
          t(message.success)
        }}</span>
        <span v-if="message.info" class="Login__MessageInfo">{{
          t(message.info)
        }}</span>
      </div>
      <p-ProgressSpinner v-if="logging" />
    </form>
    <LeagalNoticeFooter />
  </main>
</template>
<script lang="ts" setup>
import { computed, onMounted, reactive, ref } from 'vue'
import { initiateResetPassword, logIn, resetPassword } from '@/api'
import { useI18n } from 'vue-i18n'
import LeagalNoticeFooter from '@/components/LeagalNoticeFooter.vue'

enum FLOW {
  login,
  recover,
  resetPassword,
}

const credentials = reactive({
  email: '',
  password: '',
  token: '',
})
const logging = ref<boolean>(false)
const flow = ref<FLOW>(FLOW.login)
const t = useI18n().t
const minPassLength = 6
const minRecPassLength = 8

const REGEXES = {
  hasLower: '(?=.*[a-z])',
  hasUpper: '(?=.*[A-Z])',
  hasNumber: '(?=.*[0-9])',
  hasSomethingElse: '(?=.*[^A-Za-z0-9])',
}

const message = reactive<{
  error?: string
  info?: string
  success?: string
}>({})

function cleanMessage() {
  message.error = undefined
  message.info = undefined
  message.success = undefined
}

const passwordReqs = {
  required: {
    length: {
      valid: computed(() => credentials.password.length >= minPassLength),
      message: t('component.login.passwordReqs.required.length', {
        length: minPassLength,
      }),
    },
  },
  optional: {
    length: {
      valid: computed(() => credentials.password.length >= minRecPassLength),
      message: t('component.login.passwordReqs.required.length', {
        length: minRecPassLength,
      }),
    },
    lower: {
      valid: computed(() => credentials.password.match(REGEXES.hasLower)),
      message: t('component.login.passwordReqs.optional.lower'),
    },
    upper: {
      valid: computed(() => credentials.password.match(REGEXES.hasUpper)),
      message: t('component.login.passwordReqs.optional.upper'),
    },
    digit: {
      valid: computed(() => credentials.password.match(REGEXES.hasNumber)),
      message: t('component.login.passwordReqs.optional.number'),
    },
    somethingElse: {
      valid: computed(() =>
        credentials.password.match(REGEXES.hasSomethingElse)
      ),
      message: t('component.login.passwordReqs.optional.else'),
    },
  },
}

const reqTypes: Array<keyof typeof passwordReqs> = ['required', 'optional']

const validPassword = computed(() => {
  if (!credentials.password) return false
  for (const req of Object.values(passwordReqs.required)) {
    if (!req.valid.value) return false
  }
  return true
})

const validCredentials = computed(() => {
  switch (flow.value) {
    case FLOW.recover:
      return credentials.email
    case FLOW.resetPassword:
      return validPassword.value
    default:
      return credentials.email && credentials.password
  }
})

onMounted(() => {
  const hash = window.location.hash
  const match = hash.match(/\?token=(.*)/)
  if (match) {
    credentials.token = match[1]
    flow.value = FLOW.resetPassword
  }
})

const recover = () => {
  flow.value = FLOW.recover
  cleanMessage()
}

const show = computed(() => {
  switch (flow.value) {
    case FLOW.recover:
      return { email: true, password: false, token: false }
    case FLOW.resetPassword:
      return { email: false, password: true, token: true }
    default:
      return { email: true, password: true, token: false }
  }
})

const passwordLabel = computed(() => {
  switch (flow.value) {
    case FLOW.resetPassword:
      return 'component.login.resetPassword.password'
    default:
      return 'component.login.password'
  }
})

const submitLabel = computed(() => {
  switch (flow.value) {
    case FLOW.recover:
      return 'component.login.recover.submit'
    case FLOW.resetPassword:
      return 'component.login.resetPassword.submit'
    default:
      return 'component.login.submit'
  }
})

const submit = async () => {
  if (logging.value || !validCredentials.value) return
  cleanMessage()
  logging.value = true
  try {
    switch (flow.value) {
      case FLOW.login:
        flow.value = FLOW.login
        if (!(await logIn(credentials))) {
          message.error = 'component.login.invalidCredentials'
        }
        break
      case FLOW.recover:
        await initiateResetPassword(credentials)
        message.success = 'component.login.recover.success'
        message.info = 'component.login.recover.info'
        flow.value = FLOW.login
        break
      case FLOW.resetPassword:
        if (await resetPassword(credentials)) {
          flow.value = FLOW.login
        } else {
          message.error = 'component.login.resetPassword.error'
          message.info = 'component.login.resetPassword.info'
        }
        break
    }
  } catch (e) {
    message.error = 'component.login.apiUnavailable'
    console.error(e)
  }
  logging.value = false
}
</script>

<style lang="scss" scoped>
@use 'src/style/variables' as v;
@use 'src/style/mixins' as m;

.Login {
  position: fixed;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  background-color: var(--surface-200);

  &__Form {
    @include m.mobile() {
      width: 100vw;
      height: 100vh;
      border: none;
    }

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: v.$spacing * 2;
    align-items: center;
    justify-items: center;
    padding: v.$spacing * 2;
    border: 2px solid var(--primary-color);
    border-radius: v.$borderRadius;
    background-color: var(--surface-50);
  }

  &__Logo {
    align-self: center;
    width: 200px;
  }

  &__Title {
    color: var(--text-color-secondary);
    font-weight: 600;
    font-size: 1.5rem;
  }

  &__Password {
    :deep(input) {
      width: 100%;
    }
  }

  &__PasswordBlock {
    justify-self: stretch;
  }

  &__Controls {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }

  &__Submit {
    align-self: flex-end;
  }

  &__Messages {
    display: flex;
    flex-direction: column;
    justify-self: stretch;
  }

  &__MessageError {
    color: var(--error-color);
  }

  &__MessageSuccess {
    color: var(--success-color);
  }
}
</style>
