<template>
  <main class="Task">
    <ConfirmDeleteDialog
      v-model:visible="displayConfirmDelete"
      :uuid="props.uuid"
      resource-key="task"
      :resource-name="task.title"
      :redirect-url="{
        ...ROUTES.BUSINESS_CASE,
        params: { uuid: task.businessCase || '' },
      }"
      @deleted:resource="onTaskDelete"
    />

    <ResourceHeader
      v-model:edit-mode="editMode"
      resource-type="task"
      :resource="task"
      :loading="taskLoading"
      :items="items"
    />

    <!-- Title -->
    <div class="Task__Header">
      <Title
        v-model="task.title"
        :edit="editMode"
        :errors="taskErrors.title"
        :label="t('resource.task.title')"
        :loading="taskLoading"
      />

      <AssigneePicker
        v-if="!editMode"
        v-model="assignee"
        class="Task__Assignee"
      />
    </div>

    <!-- Description -->
    <Description
      v-model="task.description"
      :edit="editMode"
      :errors="taskErrors.description"
      :loading="taskLoading"
    />

    <!-- Durations -->
    <Duration
      v-model:durationMin="task.durationMin"
      v-model:durationMax="task.durationMax"
      :edit="editMode"
      :errors="taskErrors.duration"
      :loading="taskLoading"
    />

    <!-- Start date -->
    <label class="Task__Field">
      <span class="Task__Field__Title">{{ t('resource.task.startDate') }}</span>
      <PCalendar
        v-if="editMode"
        id="taskStartDatePicker"
        v-model:model-value="task.startDate"
        selection-mode="single"
        :show-icon="true"
        :show-time="true"
        :touch-u-i="true"
        :show-on-focus="false"
        show-button-bar
      />
      <span v-if="!editMode && task.startDate">{{
        displayDate(task.startDate)
      }}</span>
    </label>

    <!-- Estimated end date -->
    <label class="Task__Field">
      <span class="Task__Field__Title">{{ t('resource.task.endDate') }}</span>
      <PCalendar
        v-if="editMode"
        id="taskEndDatePicker"
        v-model:model-value="task.endDate"
        selection-mode="single"
        :show-icon="true"
        :show-time="true"
        :touch-u-i="true"
        :show-on-focus="false"
        show-button-bar
      />
      <span v-if="!editMode && task.endDate">{{
        displayDate(task.endDate)
      }}</span>
    </label>

    <label v-if="!editMode && spentTime" class="Task__Field">
      <span class="Task__Field__Title">{{ t('resource.task.spentTime') }}</span>
      <span>{{ moment.duration(spentTime, 'seconds').humanize() }}</span>
    </label>

    <router-link
      v-if="task.startDate && !editMode"
      class="Task__ShowButton p-button p-button-outlined p-button-secondary"
      :to="{
        ...ROUTES.WEEK_PLANNING,
        query: { date: moment(task.startDate).format('YYYY-MM-DD') },
      }"
    >
      {{ t('page.task.showInPlanning') }}
    </router-link>

    <section v-show="!editMode" class="Task__ControlPoints">
      <ControlPoints :task-id="task.id" />
    </section>

    <!-- Action buttons -->
    <PButton
      v-if="editMode"
      class="Task__Button p-button p-button-secondary"
      :label="t('action.cancel')"
      icon="pi pi-times"
      @click="cancel"
    />
    <PButton
      v-if="editMode"
      class="Task__Button p-button"
      :label="t('action.update')"
      icon="pi pi-check"
      @click="submit"
    />

    <ErrorWrapper :errors="taskErrors.endDate" />
  </main>

  <BusinessCase :uuid="task.businessCase" />
</template>

<script lang="ts" setup>
import { ref, toRefs } from 'vue'
import { Task } from '@/api/resources'
import { useI18n } from 'vue-i18n'
import { displayDate } from '@/components/form'
import Description from '@/components/form/Description.vue'
import BusinessCase from '@/pages/tasks/partial/BusinessCase.vue'
import { ROUTES } from '@/plugins'
import ResourceHeader from '@/components/resources/ResourceHeader.vue'
import ConfirmDeleteDialog from '@/components/resources/ConfirmDeleteDialog.vue'
import AssigneePicker from '@/components/resources/AssigneePicker.vue'
import { useAssignee } from '@/pages/tasks/useAssignee'
import { useTask } from '@/pages/tasks/useTask'
import { useRouter } from 'vue-router'
import { useActions } from '@/pages/tasks/useActions'
import { taskTree } from '@/states/weekPlanning'
import ControlPoints from '@/pages/tasks/partial/ControlPoints.vue'
import moment from 'moment-timezone'

const props = defineProps<{ uuid: Task['id'] }>()
const { uuid } = toRefs(props)

const { t } = useI18n()
const editMode = ref<boolean>(false)
const router = useRouter()
/**
 * Redirect ot home page if task cannot be found
 */
function onTaskNotFound() {
  router.push(ROUTES.HOME)
}

const { task, patchTask, rollbackTask, taskErrors, taskLoading, spentTime } =
  useTask(uuid, onTaskNotFound)

const { assignee } = useAssignee(task, patchTask)
const { items, displayConfirmDelete } = useActions(task, t, patchTask)

/**
 * Handle form submit
 */
async function submit() {
  if (await patchTask()) editMode.value = false
}

function onTaskDelete() {
  taskTree.remove(props.uuid)
}

/**
 * Exit edit mode
 */
function cancel() {
  rollbackTask()
  editMode.value = false
}
</script>

<style lang="scss" scoped>
@use 'src/style/variables' as v;
@use 'src/style/mixins' as m;

.Task {
  padding: v.$spacing;

  &__Header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid 1px var(--surface-d);
  }

  &__Title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: v.$spacing;
    align-items: flex-start;
    padding-bottom: v.$spacing;
    border-bottom: solid 1px var(--surface-d);
  }

  &__Field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: v.$spacing-2;
    padding-right: 2 * v.$spacing;

    &__Title {
      font-weight: 700;
    }
  }

  &__editButton {
    align-self: center;
  }

  &__description {
    margin: 1rem 0;
  }

  &__Editor {
    &--readonly {
      :deep .ql-editor {
        padding: 0;
      }

      // Hide toolbar in readonly mode
      :deep .ql-toolbar {
        display: none;
      }
    }
  }

  &__Button {
    margin-right: 0.5rem;

    &ChangeState {
      margin-top: v.$spacing-2;
    }
  }

  &__BusinessCase {
    right: 0;
    padding: v.$spacing;
    background: silver;
  }

  &__ControlPoints {
    margin-top: v.$spacing;
    padding: v.$spacing;
    border-radius: v.$spacing-4;
    background: var(--bluegray-100);
  }

  &__ShowButton {
    margin-top: v.$spacing;
    text-decoration: none;
  }
}

.p-field {
  padding: v.$spacing-2 0;
}
</style>
