<template>
  <aside class="SideBar">
    <Nav
      :class="{ 'Nav--mini': settings.miniMenu }"
      :items="mainMenuItems"
      :actions="[ToggleMenu]"
    />
  </aside>
</template>

<script lang="ts" setup>
import Nav from './Nav.vue'
import { settings } from '@/states'
import { mainMenuItems } from '@/components/bars/LinkItems'
import { ToggleMenu } from '@/components/bars/ActionItems'
</script>

<style lang="scss">
@use 'src/style/variables' as v;

.SideBar {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--surface-100);
}
</style>
