<template>
  <div class="AssigneePicker">
    <PDropdown
      :model-value="assignee"
      class="AssigneePicker__Dropdown"
      :options="workforces"
      :filter="true"
      :filter-fields="['name']"
      :title="title"
      @before-show="initWorkforces"
      @change="changeAssignee"
    >
      <template #value="{ value }">
        <PAvatar
          shape="circle"
          size="large"
          :label="value ? value.name.charAt(0).toUpperCase() : null"
        />
      </template>

      <template #option="{ option }">
        <div
          class="AssigneePicker__Option"
          :title="
            t(`component.assigneePicker.${option ? 'assignTo' : 'unassign'}`, {
              workforce: option?.name,
            })
          "
        >
          <PAvatar
            class="AssigneePicker__OptionAvatar"
            shape="circle"
            :label="option ? option.name.charAt(0).toUpperCase() : null"
          />
          <template v-if="option">
            <span class="AssigneePicker__OptionLabel">{{ option.name }}</span>
          </template>
          <span
            v-else
            class="AssigneePicker__OptionLabel AssigneePicker__OptionLabel--noOne"
            >{{ t('component.assigneePicker.noOne') }}</span
          >
        </div>
      </template>
    </PDropdown>
  </div>
</template>

<script lang="ts" setup>
import { Workforce, workforceClient } from '@/api'
import { computed, ref, watchEffect } from 'vue'
import { useI18n } from 'vue-i18n'

const props = defineProps<{
  modelValue: null | Workforce
}>()

const emits = defineEmits<{
  (e: 'update:modelValue', value: null | Workforce): void
}>()

const { t } = useI18n()
const workforces = ref<Array<Workforce | null>>([])
const assignee = ref<Workforce | null>(null)

const title = computed(() => {
  if (!assignee.value) return t('component.assigneePicker.noOne')
  return assignee.value.name
})

function changeAssignee(event: { value: Workforce | null }) {
  emits('update:modelValue', event.value)
}

watchEffect(() => (assignee.value = props.modelValue))

async function initWorkforces() {
  if (!workforces.value.length) {
    workforces.value = [null]

    let result = await workforceClient.getCollection({})
    result.resources.forEach((workforce) => workforces.value.push(workforce))
    while (result.next) {
      result = await result.next()
      result.resources.forEach((workforce) => workforces.value.push(workforce))
    }
  }
}
</script>

<style lang="scss" scoped>
@use '../../style/variables' as v;

.AssigneePicker {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-4;
  align-items: flex-end;

  &__Dropdown {
    border: none;
  }

  &__Option {
    display: grid;
    grid-template-areas:
      'avatar line1'
      'avatar line2';
    grid-template-rows: 1fr min-content;
    grid-template-columns: min-content 1fr;
    align-items: center;

    &Avatar {
      grid-area: avatar;
    }

    &Label {
      padding-left: v.$spacing;

      &:not(:first-of-type) {
        font-size: 0.8rem;
        opacity: 0.8;
      }

      &--noOne {
        font-style: italic;
      }
    }
  }
}
</style>
