<template>
  <PDialog
    v-model:visible="isVisible"
    modal
    :header="t(`resource.business_case.create`)"
  >
    <!-- Code -->
    <div class="p-field">
      <span class="p-float-label">
        <PInputText id="code" v-model="caseModel.code" type="text" />
        <label for="code">{{ t('resource.business_case.code') }}</label>
        <ErrorWrapper :errors="errors.code" />
      </span>
    </div>

    <!-- Name -->
    <div class="p-field">
      <span class="p-float-label">
        <PInputText id="name" v-model="caseModel.name" type="text" />
        <label for="name">{{ t('resource.business_case.name') }}</label>
        <ErrorWrapper :errors="errors.name" />
      </span>
    </div>

    <!-- Due date -->
    <div class="p-field">
      <span class="p-float-label">
        <PCalendar id="dueDate" v-model="caseModel.dueDate" :show-icon="true" />
        <label for="dueDate">{{ t('resource.business_case.dueDate') }}</label>
        <ErrorWrapper :errors="errors.dueDate" />
      </span>
    </div>

    <!-- Action buttons -->
    <template #footer>
      <PButton
        :label="t('action.cancel')"
        icon="pi pi-times"
        class="p-button-text p-button-secondary"
        @click="hideDialog"
      />
      <PButton
        type="button"
        :label="t('action.create')"
        icon="pi pi-check"
        class="p-button-text"
        @click="submit"
      />
    </template>
  </PDialog>
</template>
<script lang="ts" setup>
import { computed, ref, unref } from 'vue'
import { useI18n } from 'vue-i18n'
import { BusinessCase, businessCaseClient } from '@/api/resources'
import { useFormValidation } from '@/components/form'
import { addMessage } from '@/states'
import { AxiosError } from 'axios'

const { errors, clearErrors, parseViolations } = useFormValidation()
const { t } = useI18n()
const caseModel = ref<Partial<BusinessCase>>({})
const props = defineProps<{
  visible: boolean
}>()

const emit = defineEmits<{
  (e: 'update:visible', value: boolean): void
  (e: 'resource:created', value: BusinessCase): void
}>()

/**
 * Modal dialog visibility
 */
const isVisible = computed({
  get: () => props.visible,
  set: (value: boolean) => emit('update:visible', value),
})

const hideDialog = () => {
  isVisible.value = false
  caseModel.value = {}
}

const submit = async () => {
  clearErrors()
  try {
    const resource = await businessCaseClient.create(unref(caseModel))

    addMessage({
      severity: 'success',
      summary: t(`toast.success.business_case_created`) as string,
      life: 3000,
    })
    hideDialog()
    emit('resource:created', resource)
  } catch (e) {
    if ((e as AxiosError)?.response?.status === 422) {
      parseViolations((e as AxiosError)?.response?.data.violations)
      return
    }
    console.error(e)
  }
}
</script>
<style lang="scss" scoped>
@use 'src/style/variables' as v;

.p-field {
  width: 100%;
  padding-top: v.$spacing;
}
</style>
