<template>
  <PDialog
    v-model:visible="displayModal"
    :header="t('component.confirm_deletion.header')"
    modal
    class="ConfirmDeleteDialog"
  >
    <p>
      {{ t('component.confirm_deletion.message') }}
      <strong>{{ resourceName ?? t('resource.untitled') }} ({{ type }})</strong>
    </p>
    <p>{{ t('component.confirm_deletion.confirm') }}</p>

    <template #footer>
      <PButton
        :label="t('action.cancel')"
        class="p-button-text p-button-secondary"
        @click="hideDialog"
      />
      <PButton
        :label="t('action.delete')"
        autofocus
        class="p-button-danger"
        @click="deleteResourceAndRedirect"
      />
    </template>
  </PDialog>
</template>

<script lang="ts" setup>
import { addMessage } from '@/states'
import { useRouter } from 'vue-router'
import { useI18n } from 'vue-i18n'
import { getApiClient } from '@/api'
import { computed } from 'vue'

const props = defineProps<{
  uuid: string
  resourceKey: string
  resourceName?: string
  redirectUrl?: string | { name: string; params?: { uuid: string } }
  visible: boolean
}>()

const router = useRouter()
const { t } = useI18n()

const emit = defineEmits<{
  (e: 'update:visible', value: boolean): void
  (e: 'deleted:resource', value: string): void
}>()

/**
 * Modal dialog visibility
 */
const displayModal = computed({
  get: () => props.visible,
  set: (value: boolean) => emit('update:visible', value),
})

const type = computed(() => t(`resource.${props.resourceKey}._name`))

const hideDialog = () => {
  displayModal.value = false
}

const deleteResourceAndRedirect = async () => {
  try {
    const client = await getApiClient()
    await client.delete(props.uuid)
    if (props.redirectUrl) await router.push(props.redirectUrl)

    addMessage({
      severity: 'success',
      summary: t('toast.success.deleted'),
      detail: t('component.confirm_deletion.success', {
        type: type.value,
        title: props.resourceName,
      }),
      life: 5000,
    })
    emit('deleted:resource', props.uuid)
  } catch (e) {
    addMessage({
      severity: 'error',
      summary: t('toast.error.title'),
      detail: t('component.confirm_deletion.error', {
        type: type.value,
        title: props.resourceName,
      }),
      life: 5000,
    })
  }
  displayModal.value = false
}
</script>

<style lang="scss" scoped>
.ConfirmDeleteDialog {
  min-width: 350px;
}
</style>
