<template>
  <header class="ResourceHeader">
    <BreadcrumbBar />
    <span v-if="!props.loading" class="ResourceHeader__CreatedAt">
      {{ t(`resource.${props.resourceType}.createdAt`) }}
      {{ createdAt }}
    </span>
    <PSkeleton v-if="props.loading" width="200px" />

    <!-- Edit button -->
    <PButton
      v-show="!props.editMode"
      v-if="!props.loading"
      :label="t('action.edit')"
      icon="mdi mdi-pencil"
      class="ResourceHeader__EditButton p-button-outlined"
      @click="emits('update:editMode', true)"
    />

    <PButton
      v-show="props.items?.length"
      type="button"
      icon="mdi mdi-dots-vertical"
      class="ResourceHeader__Action p-button-text"
      aria-haspopup="true"
      aria-controls="overlay_menu"
      @click="toggle"
    />
    <PMenu id="overlay_menu" ref="menu" :model="props.items" :popup="true" />
  </header>
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue'
import { MenuItem } from '@/components/bars/MenuItem'
import BreadcrumbBar from '@/components/resources/BreadcrumbBar.vue'
import moment from 'moment-timezone'
import { Now } from '@/states'
import { useI18n } from 'vue-i18n'

const props = defineProps<{
  resourceType: string
  resource?: { createdAt?: Date }
  loading: boolean
  editMode: boolean
  items?: MenuItem[]
}>()

const emits = defineEmits<{
  (e: 'update:editMode', value: boolean): void
}>()

const createdAt = computed(() =>
  props.resource?.createdAt
    ? moment(props.resource.createdAt).from(Now.value)
    : ''
)

const { t } = useI18n()
const menu = ref()
const toggle = (event: { target: Element }) => menu.value.toggle(event)
</script>

<style lang="scss" scoped>
@use 'src/style/variables' as v;

.ResourceHeader {
  display: grid;
  flex: 0 0;
  grid-template-areas:
    'breadcrumb editButton action'
    'createdAt  editButton action';
  grid-template-rows: repeat(2, minmax(min-content, auto));
  grid-template-columns: 1fr repeat(2, minmax(min-content, auto));
  grid-gap: v.$spacing-2;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: v.$spacing;
  border-bottom: solid 1px var(--surface-d);

  &__CreatedAt {
    grid-area: createdAt;
    font-size: 0.8rem;
  }

  &__EditButton {
    grid-area: editButton;
    align-self: center;
  }

  &__Action {
    grid-area: action;
  }
}
</style>
